* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.edit-body {
  background-color: rgba(0, 0, 0, 0.2);
}

header {
  background-image: url("header.svg");
  width: 100%;
  height: 219px;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
}

.empty {
  margin-top: 215px;
  background-image: url("notes.svg");
  background-position-y: 30px;
  height: calc(100vh - 105px - 219px - 1.2rem);
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.empty h5 {
  font-size: 1.1rem;
}

.empty h6 {
  font-size: 0.7rem;
  font-weight: 300;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.home {
  background-color: #ffffff;
  margin-top: 215px;
  height: calc(100vh - 105px - 219px - 1.2rem);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  text-align: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.home h5,
.home h6 {
  display: none;
}

.home .reminders-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.home .reminders-box .reminder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 150px;
  background-color: #ffa447;
  border-radius: 20px;
  margin-bottom: 22px;
  padding: 7px 0.8rem 18px;
  text-align: left;
  color: #000000;
  min-height: 116px;
}

.home .reminders-box .reminder h4 {
  font-size: 16px;
}

.home .reminders-box .reminder div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
}

.home .reminders-box .reminder div p {
  font-size: 10px;
}

.home .reminders-box .reminder .date-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #000000;
  border-radius: 5px;
  border: 1px solid #000000;
  background-color: transparent;
  width: 70%;
  margin-top: 11px;
}

.home .reminders-box .reminder .date-box p {
  font-size: 9px;
  margin: 5px auto;
}

.edit {
  background-image: url("background.svg");
  height: calc(100vh - 219px);
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.edit .set-reminder-box-parent {
  z-index: 900;
  width: 100%;
  height: calc(100vh);
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  left: 0;
  top: 0;
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
}

.edit .set-reminder-box-parent .set-reminder-box {
  margin-top: 100px;
  width: 315px;
  height: 277px;
  background-color: #ffffff;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.edit .set-reminder-box-parent .set-reminder-box h3 {
  font-size: 22px;
  font-weight: bolder;
  margin: 30px 1.4rem;
  text-align: left;
  width: 90%;
}

.edit .set-reminder-box-parent .set-reminder-box .inputs-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -0.7rem;
}

.edit .set-reminder-box-parent .set-reminder-box .inputs-box input {
  width: 85%;
  height: 40px;
  border-radius: 10px;
  background-color: #ededed;
  border: 1px solid #ededed;
  color: #a1a1a1;
  font-size: 15px;
  margin-bottom: 1.3rem;
  padding-left: 10px;
  outline: none;
}

.edit .set-reminder-box-parent .set-reminder-box .inputs-box #date {
  padding-right: 0.5rem;
}

.edit .set-reminder-box-parent .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 55%;
}

.edit .set-reminder-box-parent .btn-box .btn {
  margin-top: 3rem;
  background-color: #7ecbff;
  color: white;
  border-radius: 5px;
  border: 1px solid #7ecbff;
  font-size: 16px;
  width: 48%;
}

.edit .set-reminder-box-parent .btn-box .cancel-btn {
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.edit .set-reminder-box-parent .btn-box .cancel-btn a {
  text-decoration: none;
  color: #7ecbff;
}

.bottom-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-image: url("nav.svg");
  width: 100%;
  height: 105px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
}

.bottom-nav .nav-btn {
  width: 21px;
  height: 21px;
  border: 0;
  background-color: transparent;
}

.bottom-nav .add-btn {
  border: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  width: 21px;
  height: 21px;
  margin-bottom: 3.2rem;
}
/*# sourceMappingURL=style.css.map */