* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.edit-body {
  background-color: rgba(0, 0, 0, 0.2);
}

.container {
  width: 100%;
}

header {
  background-image: url("header.svg");
  width: 100%;
  height: 219px;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
}

.empty {
  margin-top: 215px;
  background-image: url("notes.svg");
  background-position-y: 30px;
  height: calc(100vh - 105px - 219px - 1.2rem);
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  align-items: center;

  h5 {
    font-size: 1.1rem;
  }
  h6 {
    font-size: 0.7rem;
    font-weight: 300;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
.home {
  background-color: #ffffff;
  margin-top: 215px;
  height: calc(100vh - 105px - 219px - 1.2rem);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  align-items: flex-start;

  h5,
  h6 {
    display: none;
  }
  .reminders-box {
    display: flex;
    width: 100%;
    margin: auto;
    margin-bottom: 7rem;
    justify-content: center;
    align-items: flex-start;
    overflow: scroll;
    .reminders-box-l,
    .reminders-box-r {
      display: flex;
      width: 50%;
      height: 100%;
      flex-direction: column;
    }
    .reminders-box-l {
      align-items: flex-end;
    }
    .reminders-box-r {
      align-items: flex-start;
    }
    .reminder {
      display: flex;
      flex-direction: column;
      width: 150px;
      background-color: #ffa447;
      border-radius: 20px;
      margin: 11px;
      padding: 7px 0.8rem 18px;
      text-align: left;
      color: #000000;
      box-shadow: 0 0 13px rgba(0, 0, 0, 0.2);
      h4 {
        font-size: 16px;
      }
      div {
        display: flex;
        width: 80%;

        p {
          font-size: 10px;
        }
      }

      .date-box {
        display: flex;
        min-height: 25px;
        justify-content: center;
        align-items: center;
        color: #000000;
        border-radius: 5px;
        border: 1px solid #000000;
        background-color: transparent;
        width: 80%;
        margin-top: 11px;

        p {
          font-size: 9px;
          margin: 5px 3px;
        }
      }
    }
  }
}
.edit {
  background-image: url("background.svg");
  height: calc(100vh - 219px);
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;

  .set-reminder-box-parent {
    z-index: 900;
    width: 100%;
    height: calc(100vh);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 0;
    top: 0;
    backdrop-filter: blur(10px);
    .set-reminder-box {
      margin-top: 100px;
      width: 315px;
      height: 277px;
      background-color: #ffffff;
      border-radius: 50px;
      display: flex;
      flex-direction: column;
      position: relative;
      h3 {
        font-size: 22px;
        font-weight: bolder;
        margin: 30px 1.4rem;
        text-align: left;
        width: 90%;
      }
      .inputs-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -0.7rem;

        input {
          width: 85%;
          height: 40px;
          border-radius: 10px;
          background-color: #ededed;
          border: 1px solid #ededed;
          color: #a1a1a1;
          font-size: 15px;
          margin-bottom: 1.3rem;
          padding-left: 10px;
          outline: none;
        }
        #date {
          padding-right: 0.5rem;
        }
      }
    }
    .btn-box {
      display: flex;
      justify-content: space-between;
      width: 55%;
      .btn {
        margin-top: 3rem;
        background-color: #7ecbff;
        color: white;
        border-radius: 5px;
        border: 1px solid #7ecbff;
        font-size: 16px;
        width: 48%;
      }
      .cancel-btn {
        background-color: #ffffff;
        border: 1px solid #ffffff;
        a {
          text-decoration: none;
          color: #7ecbff;
        }
      }
    }
  }
}
.bottom-nav {
  position: fixed;
  bottom: 1.2rem;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background-image: url("nav.svg");
  width: 100%;
  height: 105px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center center;
  &::after {
    content: "";
    width: 100%;
    position: fixed;
    height: 1.24rem;
    background-color: white;
    bottom: 0;
    left: 0;
  }
  .nav-btn {
    width: 21px;
    height: 21px;
    border: 0;
    background-color: transparent;
  }
  .add-btn {
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 21px;
    height: 21px;
    margin-bottom: 3.2rem;
  }
}
